<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
  	<listener class-name="com.demoworkshop.util.DemoWorkShop_Listener" />
  </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.demoworkshop.qa.Test.DemoWorkShop_End_To_End"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
